<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">March</a>
          </li>
         
  
          
        
         
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'speaking'%}">Speaking</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Writing
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" aria-current="page" href="{% url 'task1list' %}">Task 1</a>
              <a class="dropdown-item" aria-current="page" href="">Task 2</a>
            </div>
          </li>


          <!-- admin panel -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin panel
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" aria-current="page" href="#">Task 1</a>
              <a class="dropdown-item" aria-current="page" href="{% url 'addtask1'%}">Add Task 1</a>
              <a class="dropdown-item" aria-current="page" href="{% url 'addtask2'%}">Add Task 2</a>
            </div>
          </li>
          <!-- admin panel tugashi -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'vocabularyhome' %}">Vocabulary</a>
          </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Log out</a>
        </li>
      
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Register</a>
          </li>
          
     
         
         
  
        </ul>
        <form class="d-flex" role="search" method="POST"  action="" > {% csrf_token %}
          
          <input class="form-control me-2" type="search" placeholder="Search venue" name="searched" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>