{% extends "base.html" %}

{% block content %}

<br/>
<br/>
<br/>

{% for i in listtask %}

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{i.title}}
        <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="{% url 'task1show' i.id %}">View sample</a></button>
        <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="{% url 'task1update' i.id %}">Update task</a></button>
      <span class="badge badge-primary badge-pill">Band score{{i.score}}</span>
    </li>
</ul><br/>
{% endfor %}

{% endblock %}