{% extends "base.html" %}

{% block content %}

<br/>
<br/>
<br/>

{% for i in listtask %}

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{i.title}}
        <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="{% url 'task1show' i.id %}">View sample</a></button>
        <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="{% url 'task1update' i.id %}">Update task</a></button>
        <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="{% url 'tasl1delete' i.id %}">Delete task</a></button>
        <span class="badge badge-primary badge-pill">Band score{{i.score}}</span>
    </li>
</ul><br/>

<nav aria-label="Page navigation example">
    <ul class="pagination  justify-content-center">
    
{% if venues.has_previous %}
<li class="page-item"><a class="page-link"  href="?page=1">&laquo; First</a></li>
<li class="page-item"><a class="page-link"  href="?page={{venues.previous_page_number}}">Previous</a></li>
{% endif %}
<!-- 
<li class="page-item disabled" ><a class="page-link" href="#">Page {{venues.number}} of  {{venues.paginator.num_pages}}</a> </li>
 -->
{% for i in nums %}
   
    <li class="page-item"><a class="page-link"  href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>

{% endfor %}


{% if  venues.has_next %}
<li class="page-item"><a class="page-link"  href="?page={{venues.next_page_number}}">Next</a></li>

<li class="page-item"><a class="page-link"  href="?page={{venues.paginator.num_pages}}">Last &raquo</a></li>

{% endif %}
</ul>
</nav>
{% endfor %}

{% endblock %}