{% extends "base.html" %}

{% block content %}

<br/>
<br/>
<br/>

{% for i in tasks %}
<table class="table table-striped table-hover table-bordered"></table>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{i.topic.title}}
        <div class="container"> <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="{% url 'speakingpart3show' i.id %}">View sample</a></button>
        <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="{% url 'speakingpart3update' i.id %}">Update task</a></button>
        <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="#">Delete task</a></button>
    </div>
            {% comment %} <span class="badge badge-primary badge-pill">Band score{{i.score}}</span> {% endcomment %}
    </li>
</ul><br/>


{% endfor %}
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination  justify-content-center">
    
{% if tasks.has_previous %}
<li class="page-item"><a class="page-link"  href="?page=1">&laquo; First</a></li>
<li class="page-item"><a class="page-link"  href="?page={{tasks.previous_page_number}}">Previous</a></li>
{% endif %}
<!-- 
<li class="page-item disabled" ><a class="page-link" href="#">Page {{venues.number}} of  {{venues.paginator.num_pages}}</a> </li>
 -->
{% for i in nums %}
   
    <li class="page-item"><a class="page-link"  href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>

{% endfor %}


{% if  tasks.has_next %}
<li class="page-item"><a class="page-link"  href="?page={{tasks.next_page_number}}">Next</a></li>

<li class="page-item"><a class="page-link"  href="?page={{tasks.paginator.num_pages}}">Last &raquo</a></li>

{% endif %}
</ul>
</nav>
{% endblock %}